# Домашнее задание

**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [172]:
data = pd.read_csv('ratings.csv')

In [173]:
data_movies = pd.read_csv('movies.csv')

In [174]:
data_joined = data.merge(data_movies, on='movieId', how='left')

In [175]:
fin_format = data_joined[['movieId', 'title', 'rating']]

In [176]:
max_ = fin_format['rating'].max()

In [177]:
fin_format[fin_format.rating == max_].head()

    movieId                                              title  rating
0       296                                Pulp Fiction (1994)     5.0
2       307   Three Colors: Blue (Trois couleurs: Bleu) (1993)     5.0
3       665                                 Underground (1995)     5.0
8      1237    Seventh Seal, The (Sjunde inseglet, Det) (1957)     5.0
18     2632  Saragossa Manuscript, The (Rekopis znaleziony ...     5.0

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [179]:
#data[ data['country'].str.contains('tv', case=False) ]['country'].unique()

In [180]:
#data[ data['country'].str.contains('lit', case=False) ]['country'].unique()

In [181]:
#data[ data['country'].str.contains('ton', case=False) ]['country'].unique()

In [91]:
filtered_countries = data[(data['country'] == 'Latvia') 
                          | (data['country'] == 'Lithuania') 
                          | (data['country'] == 'Estonia')]

In [92]:
#filtered_countries['country'].unique()

In [93]:
filtered_year = filtered_countries[filtered_countries.year >= 2005]

In [111]:
filtered_year_two = filtered_year[filtered_year.year <= 2010]

In [112]:
#filtered_year_two['year'].max()

In [113]:
#filtered_year_two['year'].min()

In [114]:
filtred_quantity = filtered_year_two[filtered_year_two.quantity >= 0]

In [115]:
filtred_category = filtred_quantity[(filtred_quantity['category'].isin([4, 12, 21]))]

In [116]:
fin_filtered = filtred_category[['country', 'category', 'quantity']].groupby(
    ['country', 'category']).sum().sort_values(by='quantity', ascending=True)

In [117]:
fin_filtered

                    quantity
country   category
Latvia    4              0.0
Lithuania 4             18.0
Estonia   4             28.0
Lithuania 12          6326.0
Latvia    21         54844.0
Estonia   21         63412.0
Lithuania 21        115952.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [6]:
df = pd.read_html('https://fortrader.org/quotes')[1]
df.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть (BRENT) Курс нефти сегодня,43.330,0.210,0.490,NaN
1,Нефть (WTI) Цены на нефть (WTI),40.780,0.040,0.100,NaN
2,Сахар котировки на сахар,12.630,11.390,918.550,NaN
3,Газ Цена на газ,1.908,0.037,1.978,NaN

In [12]:
df = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[1]
df.head(10)

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,896866,-,896847,"0,00 %",00019,18:25:00
1,NaN,EUR/RUB,805300,-,812020,"-0,83 %",-06720,18:31:00
2,NaN,USD/RUB,713293,-,717944,"-0,65 %",-04651,18:31:00
3,NaN,JPY/RUB,06627,-,06686,"-0,87 %",-00059,18:25:00
4,NaN,CNY/RUB,101637,-,102288,"-0,64 %",-00650,18:31:00
5,NaN,CHF/RUB,757250,-,762060,"-0,63 %",-04810,18:25:00
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,11295,-,11312,"-0,15 %",-00017,18:31:00
8,NaN,EUR/GBP,08979,-,09058,"-0,87 %",-00079,18:31:00
9,NaN,EUR/JPY,1214750,-,1214350,"0,03 %",00400,18:31:00