In [90]:
import pandas as pd
from datetime import datetime
from dateutil import parser 
import re
import locale

In [3]:
df = pd.read_csv('date_trouble.csv', sep=',')

In [4]:
df.head()

   Unnamed: 0             ACTUALDATE              TRANSDATE
0           0  01 янв. 2005 г., 0:00  23 мая 2016 г., 13:01
1           1  01 янв. 2005 г., 0:00  23 мая 2016 г., 12:31
2           2  01 янв. 2005 г., 0:00  23 мая 2016 г., 12:31
3           3  01 янв. 2005 г., 0:00  23 мая 2016 г., 13:01
4           4  01 янв. 2005 г., 0:00  23 мая 2016 г., 13:01

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319448 entries, 0 to 319447
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  319448 non-null  int64
 1   ACTUALDATE  319448 non-null  object
 2   TRANSDATE   319448 non-null  object
dtypes: int64(1), object(2)
memory usage: 7.3+ MB

In [6]:
df['ACTUALDATE']

0          01 янв. 2005 г., 0:00
1          01 янв. 2005 г., 0:00
2          01 янв. 2005 г., 0:00
3          01 янв. 2005 г., 0:00
4          01 янв. 2005 г., 0:00
                   ...
319443    01 янв. 2019 г., 23:45
319444    01 янв. 2019 г., 23:46
319445    01 янв. 2019 г., 23:46
319446    01 янв. 2019 г., 23:47
319447    01 янв. 2019 г., 23:48
Name: ACTUALDATE, Length: 319448, dtype: object

In [11]:
# почитать про setlocale 
# можно сразу переписать русс на анг, но пока не буду так как нужно выяснить какие месяцы и как прописаны в дата сете
#df['ACTUALDATE'] = df['ACTUALDATE'].str.replace('окт.', 'Oct')
# можно попробовать заменить месяца на цифры или анг буквы

In [8]:
# замена г., на пробел
df['ACTUALDATE'] = df['ACTUALDATE'].str.replace('г.,', ' ')

In [9]:
#удаляем пробелы
df['ACTUALDATE'] = df['ACTUALDATE'].str.strip()

In [10]:
df['ACTUALDATE']

0          01 янв. 2005   0:00
1          01 янв. 2005   0:00
2          01 янв. 2005   0:00
3          01 янв. 2005   0:00
4          01 янв. 2005   0:00
                  ...
319443    01 янв. 2019   23:45
319444    01 янв. 2019   23:46
319445    01 янв. 2019   23:46
319446    01 янв. 2019   23:47
319447    01 янв. 2019   23:48
Name: ACTUALDATE, Length: 319448, dtype: object

In [12]:
# делим на части
df['ACTUALDATE'] = df['ACTUALDATE'].str.split()

In [13]:
df['ACTUALDATE'].head(2)

0    [01, янв., 2005, 0:00]
1    [01, янв., 2005, 0:00]
Name: ACTUALDATE, dtype: object

In [14]:
# разделим столбец на несколько нужных списков, для обработки месяцев

In [15]:
day = []
mouth = []
years = []
time = []

for a, b, c, e in df['ACTUALDATE']:
    #print(a, b, c, e)
    a = int(a)
    b = str(b)
    c = int(c)
    e = str(e)
    day.append(a)
    mouth.append(b)
    years.append(c)
    time.append(e)

In [16]:
# соеденим в один 
data_result = []

for i in zip(day, mouth, years, time):
    #print(i)
    data_result.append(i)

In [80]:
# запишим в дата фрейм для удобства
df1 = pd.DataFrame(data_result, columns=['Day', 'Mouth', 'Years', 'Time'])

In [81]:
df1.head(2)

   Day Mouth  Years  Time
0    1  янв.   2005  0:00
1    1  янв.   2005  0:00

In [82]:
# костыль на setlocale из-за моего не знания

In [83]:
# Просмотрим уникальные значения в месяце
df1.Mouth.unique()

array(['янв.', 'дек.', 'сент.', 'марта', 'июня', 'нояб.', 'апр.', 'мая',
       'июля', 'авг.', 'окт.', 'февр.'], dtype=object)

In [84]:
# Перепишем
df1['Mouth'] = df1['Mouth'].str.replace('янв.', 'Jan')
df1['Mouth'] = df1['Mouth'].str.replace('февр.', 'Feb')
df1['Mouth'] = df1['Mouth'].str.replace('марта', 'Mar')
df1['Mouth'] = df1['Mouth'].str.replace('апр.', 'Apr')
df1['Mouth'] = df1['Mouth'].str.replace('мая', 'May')
df1['Mouth'] = df1['Mouth'].str.replace('июня', 'June')
df1['Mouth'] = df1['Mouth'].str.replace('июля', 'July')
df1['Mouth'] = df1['Mouth'].str.replace('авг.', 'Aug')
df1['Mouth'] = df1['Mouth'].str.replace('сент.', 'Sept')
df1['Mouth'] = df1['Mouth'].str.replace('окт.', 'Oct')
df1['Mouth'] = df1['Mouth'].str.replace('нояб.', 'Nov')
df1['Mouth'] = df1['Mouth'].str.replace('дек.', 'Dec')

In [85]:
# проверим
df1.Mouth.unique()

array(['Jan', 'Dec', 'Sept', 'Mar', 'June', 'Nov', 'Apr', 'May', 'July',
       'Aug', 'Oct', 'Feb'], dtype=object)

## ошибка hour must be in 0..23: 26,Oct,2020,19:06 (ошибка из другого дата сета, похожего, но тут всё равно Unknown string format: 1,Jan,2005,0:00 , но подозреваю проблема во времени)

In [69]:
# Перейдем ко времени
df1['Time']

0          0:00
1          0:00
2          0:00
3          0:00
4          0:00
          ...
319443    23:45
319444    23:46
319445    23:46
319446    23:47
319447    23:48
Name: Time, Length: 319448, dtype: object

In [70]:
#df1['Time'] = df1['Time'].str.replace('0:', '00:')
# надо придумать как заменить 1: - 01: , 2: - 02: и т.д.

# нужно попробовать regex

In [71]:
# Соединяем в новом столбце полученные нормализованные данные
df1['data_complite'] = df1[df1.columns[:]].apply(
    lambda x: ','.join(x.dropna().astype(str)),
    axis=1
)
# долгое время обработки

In [72]:
df1

        Day Mouth  Years   Time     data_complite
0         1   Jan   2005   0:00   1,Jan,2005,0:00
1         1   Jan   2005   0:00   1,Jan,2005,0:00
2         1   Jan   2005   0:00   1,Jan,2005,0:00
3         1   Jan   2005   0:00   1,Jan,2005,0:00
4         1   Jan   2005   0:00   1,Jan,2005,0:00
...     ...   ...    ...    ...               ...
319443    1   Jan   2019  23:45  1,Jan,2019,23:45
319444    1   Jan   2019  23:46  1,Jan,2019,23:46
319445    1   Jan   2019  23:46  1,Jan,2019,23:46
319446    1   Jan   2019  23:47  1,Jan,2019,23:47
319447    1   Jan   2019  23:48  1,Jan,2019,23:48

[319448 rows x 5 columns]

In [73]:
# в теории всё должно получиться? но выходит ошибка hour must be in 0..23: 26,Oct,2020,19:06 , пока думаю как изменить формат

df1['data_complite']  = pd.to_datetime(df1['data_complite'])

ParserError: Unknown string format: 1,Jan,2005,0:00

In [74]:
df1['data_complite'] = pd.to_datetime(df1['data_complite']).dt.strftime("%d %b %Y %H:%M")

ParserError: Unknown string format: 1,Jan,2005,0:00

In [75]:
df1['data_complite']= pd.to_datetime(df1['data_complite'],dayfirst=True)

ParserError: Unknown string format: 1,Jan,2005,0:00

In [76]:
# Просмотр
df1

        Day Mouth  Years   Time     data_complite
0         1   Jan   2005   0:00   1,Jan,2005,0:00
1         1   Jan   2005   0:00   1,Jan,2005,0:00
2         1   Jan   2005   0:00   1,Jan,2005,0:00
3         1   Jan   2005   0:00   1,Jan,2005,0:00
4         1   Jan   2005   0:00   1,Jan,2005,0:00
...     ...   ...    ...    ...               ...
319443    1   Jan   2019  23:45  1,Jan,2019,23:45
319444    1   Jan   2019  23:46  1,Jan,2019,23:46
319445    1   Jan   2019  23:46  1,Jan,2019,23:46
319446    1   Jan   2019  23:47  1,Jan,2019,23:47
319447    1   Jan   2019  23:48  1,Jan,2019,23:48

[319448 rows x 5 columns]

In [77]:
# провека формата столбца  data_complite
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319448 entries, 0 to 319447
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Day            319448 non-null  int64
 1   Mouth          319448 non-null  object
 2   Years          319448 non-null  int64
 3   Time           319448 non-null  object
 4   data_complite  319448 non-null  object
dtypes: int64(2), object(3)
memory usage: 12.2+ MB

In [ ]:
# потом можно объеденить df1['data_complite'] с df

In [ ]:
# тестируем без времени на теорию

In [86]:
df1['data_complite'] = df1[df1.columns[:3]].apply(lambda x: ','.join(x.dropna().astype(str)), axis=1)

In [87]:
df1

        Day Mouth  Years   Time data_complite
0         1   Jan   2005   0:00    1,Jan,2005
1         1   Jan   2005   0:00    1,Jan,2005
2         1   Jan   2005   0:00    1,Jan,2005
3         1   Jan   2005   0:00    1,Jan,2005
4         1   Jan   2005   0:00    1,Jan,2005
...     ...   ...    ...    ...           ...
319443    1   Jan   2019  23:45    1,Jan,2019
319444    1   Jan   2019  23:46    1,Jan,2019
319445    1   Jan   2019  23:46    1,Jan,2019
319446    1   Jan   2019  23:47    1,Jan,2019
319447    1   Jan   2019  23:48    1,Jan,2019

[319448 rows x 5 columns]

In [88]:
df1['data_complite']  = pd.to_datetime(df1['data_complite'])

In [89]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319448 entries, 0 to 319447
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Day            319448 non-null  int64
 1   Mouth          319448 non-null  object
 2   Years          319448 non-null  int64
 3   Time           319448 non-null  object
 4   data_complite  319448 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 12.2+ MB

In [ ]:
# теория работает! Осталось победить время...