In [61]:
import pandas as pd
from datetime import datetime
from dateutil import parser 
import re
import locale

In [62]:
df = pd.read_csv('date_trouble_short.csv', sep=',')

In [64]:
df.head()

   Unnamed: 0  Unnamed: 0.1             ACTUALDATE              TRANSDATE
0           0             0  01 янв. 2005 г., 0:00  23 мая 2016 г., 13:01
1           1             1  01 янв. 2005 г., 0:00  23 мая 2016 г., 12:31
2           2             2  01 янв. 2005 г., 0:00  23 мая 2016 г., 12:31
3           3             3  01 янв. 2005 г., 0:00  23 мая 2016 г., 13:01
4           4             4  01 янв. 2005 г., 0:00  23 мая 2016 г., 13:01

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    10 non-null     int64
 1   Unnamed: 0.1  10 non-null     int64
 2   ACTUALDATE    10 non-null     object
 3   TRANSDATE     10 non-null     object
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes

In [66]:
# задача ACTUALDATE преобразовать из object в datetime

In [67]:
df['ACTUALDATE']

0     01 янв. 2005 г., 0:00
1     01 янв. 2005 г., 0:00
2     01 янв. 2005 г., 0:00
3     01 янв. 2005 г., 0:00
4     01 янв. 2005 г., 0:00
5     01 янв. 2005 г., 0:00
6     01 янв. 2005 г., 0:00
7     01 янв. 2005 г., 0:00
8    31 дек. 2007 г., 23:00
9    31 дек. 2007 г., 23:00
Name: ACTUALDATE, dtype: object

In [68]:
# почитать про setlocale 
# можно сразу переписать русс на анг, но пока не буду так как нужно выяснить какие месяцы и как прописаны в дата сете
#df['ACTUALDATE'] = df['ACTUALDATE'].str.replace('окт.', 'Oct')
# можно попробовать заменить месяца на цифры или анг буквы

In [69]:
# замена г., на пробел
df['ACTUALDATE'] = df['ACTUALDATE'].str.replace('г.,', ' ')

In [70]:
#удаляем пробелы
df['ACTUALDATE'] = df['ACTUALDATE'].str.strip()

In [71]:
df['ACTUALDATE']

0     01 янв. 2005   0:00
1     01 янв. 2005   0:00
2     01 янв. 2005   0:00
3     01 янв. 2005   0:00
4     01 янв. 2005   0:00
5     01 янв. 2005   0:00
6     01 янв. 2005   0:00
7     01 янв. 2005   0:00
8    31 дек. 2007   23:00
9    31 дек. 2007   23:00
Name: ACTUALDATE, dtype: object

In [72]:
# делим на части
df['ACTUALDATE'] = df['ACTUALDATE'].str.split()

In [73]:
df['ACTUALDATE'].head(2)

0    [01, янв., 2005, 0:00]
1    [01, янв., 2005, 0:00]
Name: ACTUALDATE, dtype: object

In [74]:
# разделим столбец на несколько нужных списков, для обработки месяцев

In [75]:
day = []
mouth = []
years = []
time = []

for a, b, c, e in df['ACTUALDATE']:
    #print(a, b, c, e)
    a = int(a)
    b = str(b)
    c = int(c)
    e = str(e)
    day.append(a)
    mouth.append(b)
    years.append(c)
    time.append(e)

In [76]:
# соеденим в один 
data_result = []

for i in zip(day, mouth, years, time):
    #print(i)
    data_result.append(i)

In [77]:
# запишим в дата фрейм для удобства
df1 = pd.DataFrame(data_result, columns=['Day', 'Mouth', 'Years', 'Time'])

In [78]:
df1.head(2)

   Day Mouth  Years  Time
0    1  янв.   2005  0:00
1    1  янв.   2005  0:00

In [79]:
# Просмотрим уникальные значения в месяце
df1.Mouth.unique()

array(['янв.', 'дек.'], dtype=object)

In [80]:
# Перепишем
df1['Mouth'] = df1['Mouth'].str.replace('янв.', 'Jan')
df1['Mouth'] = df1['Mouth'].str.replace('февр.', 'Feb')
df1['Mouth'] = df1['Mouth'].str.replace('марта', 'Mar')
df1['Mouth'] = df1['Mouth'].str.replace('апр.', 'Apr')
df1['Mouth'] = df1['Mouth'].str.replace('мая', 'May')
df1['Mouth'] = df1['Mouth'].str.replace('июня', 'June')
df1['Mouth'] = df1['Mouth'].str.replace('июля', 'July')
df1['Mouth'] = df1['Mouth'].str.replace('авг.', 'Aug')
df1['Mouth'] = df1['Mouth'].str.replace('сент.', 'Sept')
df1['Mouth'] = df1['Mouth'].str.replace('окт.', 'Oct')
df1['Mouth'] = df1['Mouth'].str.replace('нояб.', 'Nov')
df1['Mouth'] = df1['Mouth'].str.replace('дек.', 'Dec')

In [81]:
# проверим
df1.Mouth.unique()

array(['Jan', 'Dec'], dtype=object)

In [82]:
# Перейдем ко времени
df1['Time']

0     0:00
1     0:00
2     0:00
3     0:00
4     0:00
5     0:00
6     0:00
7     0:00
8    23:00
9    23:00
Name: Time, dtype: object

In [83]:
# выяснить почему таймделта срабатывает только после обработки , а не допустим вот такой строкой
# df1['Time']  = pd.to_timedelta(df1['Time'])

In [84]:
df1['Time']  = pd.to_datetime(df1['Time'] ).dt.strftime("%H:%M:%S")

In [85]:
df1['Time']

0    00:00:00
1    00:00:00
2    00:00:00
3    00:00:00
4    00:00:00
5    00:00:00
6    00:00:00
7    00:00:00
8    23:00:00
9    23:00:00
Name: Time, dtype: object

In [86]:
df1.Time.unique()

array(['00:00:00', '23:00:00'], dtype=object)

In [87]:
# соеденим дату
df1['data_complite'] = df1[df1.columns[:3]].apply(lambda x: ','.join(x.dropna().astype(str)), axis=1)
# долгое время обработки, нужно что нибудь попроще придумать

In [88]:
# соеденим дату и время
df1['data_complite_2'] = pd.to_datetime(df1.data_complite) + pd.to_timedelta(df1.Time)

In [89]:
df1

   Day Mouth  Years      Time data_complite     data_complite_2
0    1   Jan   2005  00:00:00    1,Jan,2005 2005-01-01 00:00:00
1    1   Jan   2005  00:00:00    1,Jan,2005 2005-01-01 00:00:00
2    1   Jan   2005  00:00:00    1,Jan,2005 2005-01-01 00:00:00
3    1   Jan   2005  00:00:00    1,Jan,2005 2005-01-01 00:00:00
4    1   Jan   2005  00:00:00    1,Jan,2005 2005-01-01 00:00:00
5    1   Jan   2005  00:00:00    1,Jan,2005 2005-01-01 00:00:00
6    1   Jan   2005  00:00:00    1,Jan,2005 2005-01-01 00:00:00
7    1   Jan   2005  00:00:00    1,Jan,2005 2005-01-01 00:00:00
8   31   Dec   2007  23:00:00   31,Dec,2007 2007-12-31 23:00:00
9   31   Dec   2007  23:00:00   31,Dec,2007 2007-12-31 23:00:00

In [90]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Day              10 non-null     int64
 1   Mouth            10 non-null     object
 2   Years            10 non-null     int64
 3   Time             10 non-null     object
 4   data_complite    10 non-null     object
 5   data_complite_2  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 608.0+ bytes

In [91]:
df3 = df.join(df1['data_complite_2'])

In [92]:
df3

,Unnamed: 0,Unnamed: 0.1,ACTUALDATE,TRANSDATE,data_complite_2
0,0,0,"[01, янв., 2005, 0:00]","23 мая 2016 г., 13:01",2005-01-01 00:00:00
1,1,1,"[01, янв., 2005, 0:00]","23 мая 2016 г., 12:31",2005-01-01 00:00:00
2,2,2,"[01, янв., 2005, 0:00]","23 мая 2016 г., 12:31",2005-01-01 00:00:00
3,3,3,"[01, янв., 2005, 0:00]","23 мая 2016 г., 13:01",2005-01-01 00:00:00
4,4,4,"[01, янв., 2005, 0:00]","23 мая 2016 г., 13:01",2005-01-01 00:00:00
5,5,5,"[01, янв., 2005, 0:00]","23 мая 2016 г., 13:01",2005-01-01 00:00:00
6,6,6,"[01, янв., 2005, 0:00]","23 мая 2016 г., 12:31",2005-01-01 00:00:00
7,7,7,"[01, янв., 2005, 0:00]","23 мая 2016 г., 12:31",2005-01-01 00:00:00
8,8,8,"[31, дек., 2007, 23:00]","29 марта 2018 г., 14:55",2007-12-31 23:00:00
9,9,9,"[31, дек., 2007, 23:00]","29 марта 2018 г., 15:13",2007-12-31 23:00:00

In [93]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       10 non-null     int64
 1   Unnamed: 0.1     10 non-null     int64
 2   ACTUALDATE       10 non-null     object
 3   TRANSDATE        10 non-null     object
 4   data_complite_2  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 528.0+ bytes

In [42]:
# Главный вопрос остается открытым, почему приходиться делать такой "парсинг" по дате? 
# Что мешает дататайм сразу преобразовать в указанный формат