# Домашнее задание "Функции и работа с данными"

**Задание 1**

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
  - оценка 2 и меньше - низкий рейтинг
  - оценка 4 и меньше - средний рейтинг
  - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [2]:
import pandas as pd

In [3]:
# подгогтовка таблицы

In [4]:
data = pd.read_csv('ml-latest-small/ratings.csv')

In [5]:
data_movies = pd.read_csv('ml-latest-small/movies.csv')

In [ ]:
# Решение

In [12]:
def classification(row):
    """Классификация"""
    
    
    if row.rating >= 4.5:
        return 'Высокий рейтинг'
    elif row.rating < 4.5 and row.rating > 2:
        return 'Средний рейтинг'
    elif row.rating <= 2:
        return 'Низкий рейтинг'

In [20]:
data['classification'] = data.apply(classification, axis=1)
data.head()

   userId  movieId  rating   timestamp   classification
0       1       31     2.5  1260759144  Средний рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг
2       1     1061     3.0  1260759182  Средний рейтинг
3       1     1129     2.0  1260759185   Низкий рейтинг
4       1     1172     4.0  1260759205  Средний рейтинг

In [16]:
# Доработка

In [28]:
data_joined = data.merge(data_movies, on='movieId', how='left')
fin_format = data_joined[['title', 'rating', 'classification']]

In [29]:
fin_format.tail(20)

,title,rating,classification
99984,Black Hawk Down (2001),2.0,Низкий рейтинг
99985,Ice Age (2002),2.0,Низкий рейтинг
99986,My Big Fat Greek Wedding (2002),3.0,Средний рейтинг
99987,Spider-Man (2002),4.0,Средний рейтинг
99988,About a Boy (2002),4.0,Средний рейтинг
99989,Minority Report (2002),4.5,Высокий рейтинг
99990,Road to Perdition (2002),3.0,Средний рейтинг
99991,Bowling for Columbine (2002),4.0,Средний рейтинг
99992,Harry Potter and the Chamber of Secrets (2002),4.0,Средний рейтинг
99993,Adaptation (2002),3.5,Средний рейтинг
99994,"Lord of the Rings: The Two Towers, The (2002)",5.0,Высокий рейтинг
99995,Catch Me If You Can (2002),4.0,Средний рейтинг
99996,Chicago (2002),4.5,Высокий рейтинг
99997,"Pianist, The (2002)",4.0,Средний рейтинг
99998,Bringing Down the House (2003),2.5,Средний рейтинг
99999,Raising Victor Vargas (2002),2.5,Средний рейтинг
100000,Stevie (2002),4.0,Средний рейтинг
100001,"Matrix Reloaded, The (2003)",4.0,Средний рейтинг
100002,Whale Rider (2002),2.5,Средний рейтинг
100003,Seabiscuit (2003),3.5,Средний рейтинг

**Задание 2**

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [8]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

   'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [9]:
import pandas as pd

In [10]:
data = pd.read_csv('keywords.csv')

In [11]:
# Решение

In [47]:
def geo_class(row):
    """Определение региона"""
    
    for key, values in geo_data.items():
        for value in values:
            if value in row['keyword']:
                return key
    return 'undefined'

In [48]:
data['region'] = data.apply(geo_class, axis=1)
data

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]

In [49]:
data['region'].unique()

array(['undefined', 'Центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)

**Задание 3 (бонусное)**

Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
  - для каждой строки пройдите по всем годам списка years
  - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
  - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

**Важно! При копировании юпитер ноутбука изменяет кавычки ’ на ` , что может способствовать ошибки в коде. В данной ситуации необходимо их просто заменить.**